/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font: 300 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  padding: 0.5em;
  background: #f9f9f9;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-weight: 800;
  border-bottom: 5px solid #000;
  display: inline;
}

.email, .github, .twitter {
  text-decoration: none;
  color: #999;
  font-size: 80%;
  border: 3px solid #eee;
  padding: 0.5em 1em;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  margin-right: 2px;
}

.email:hover, .github:hover, .twitter:hover {
    -webkit-animation: border-color-highlight 1s; /* Chrome, Safari, Opera */
    animation: border-color-highlight 1s;
    border-color: #444;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes border-color-highlight {
    from {border-color: #eee;}
    to {border-color: #444;}
}

/* Standard syntax */
@keyframes border-color-highlight {
    from {border-color: #eee;}
    to {border-color: #444;}
}

.email, .github, .twitter {

}

header p {
}

main {
}

.articles {
  margin: 0;
  padding: 0;
  list-style: none;
}

.articles li {
  padding: 0.5em 0 1em;
  border-bottom: 1px solid #eee;
}

.articles li:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 48em) {
  html {
    padding: 10% 20% 1em;
  }
  header, main {
    /*padding: 1em;*/
  }
}
